<footer id="footer">
    <div class="container">

        {{ if isset .Site.Params "about_us" }}
        <div class="col-md-4 col-sm-6">
            <h4>{{ i18n "aboutUs" }}</h4>

            {{ .Site.Params.about_us | markdownify }}

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-4 -->
        {{ end }}

        <div class="col-md-4 col-sm-6">

            <h4>News & Events</h4>

            <p>Sherlock is based at the San Diego Supercomputer (SDSC) on the University of California, San Diego campus.  For the latest Sherlock press releases, news, and events, please visit the <a href="http://www.sdsc.edu/news_and_events">SDSC News & Events</a> page.</p>
            <div style="font-size: 2em; letter-spacing: 0.5em; margin-top: 0.6em; text-align: center;">
<a href="https://twitter.com/sherlocksolved" title="Twitter"><i class="fa fa-twitter"></i></a>  
<a href="https://www.facebook.com/sherlocksolved/" title="Facebook"><i class="fa fa-facebook"></i></a>  
<a href="https://www.linkedin.com/company/sherlock" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a>
            </div>

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-4 -->

        {{ if isset .Site.Params "address" }}
        <div class="col-md-4 col-sm-6">

          <h4>{{ i18n "contactTitle" }}</h4>

            {{ .Site.Params.address | markdownify }}

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-4 -->
        {{ end }}

    </div>
    <!-- /.container -->
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
    <div class="container">
        <div class="col-md-12">
            {{ if isset .Site.Params "copyright" }}
            <p style="text-align: center">{{ .Site.Params.copyright | safeHTML }}</p>
            {{ end }}
        </div>
    </div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
