{{ if isset .Site.Params "testimonials" }}
{{ if .Site.Params.testimonials.enable }}
{{ if gt (len .Site.Data.testimonials) 0 }}
<section class="bar background-pentagon no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.testimonials.title }}</h2>
                </div>

                <p class="lead">
                  {{ .Site.Params.testimonials.subtitle | markdownify }}
                </p>

                {{ range .Site.Data.testimonials }}
                <div class="col-md-12" style="margin-bottom: 2em; background-color: white; padding: 1em;">
			<div class="col-md-3">
				<p><strong>{{ .name }}</strong><br/>
				<em>{{ .position }}</em></p>
				<img class="icon" alt="" src="{{ .avatar | absURL }}"/>
			</div>
			<div class="col-md-9">
				<p><i class="fa fa-quote-left"></i>
				{{ .text | markdownify }}
				<i class="fa fa-quote-right"></i></p>
			</div>
		</div>
                {{ end }}

            </div>

        </div>
    </div>
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
{{ end }}
